<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side">
    <mat-nav-list>
      <a mat-list-item href="/list-product" (click)="close()"><mat-icon style="margin-right: 5px;">home</mat-icon>Dashboard</a>
      <a mat-list-item routerLink="/list-user" (click)="close()"><mat-icon style="margin-right: 5px;">supervisor_account</mat-icon> User</a>
      <a mat-list-item routerLink="/ventas" (click)="close()"><mat-icon style="margin-right: 5px;">shopping_basket</mat-icon> Ventas</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My Application</span>
    </mat-toolbar>

    <div class="contenedor">
  <div class="productos-grid">
      <!-- Visualización de productos en grid -->
      <div class="producto-card" *ngFor="let element of productos">
          <div class="producto-info">
            <img src="https://imgs.search.brave.com/FIsIP11EN_A84QorKX-R6fubSAf1yDumzWSi5j3py5Q/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9kZWZp/bmljaW9uLmRlL3dw/LWNvbnRlbnQvdXBs/b2Fkcy8yMDA5LzA2/L3N1cGVybWVyY2Fk/by5qcGc" alt="Nombre del Producto" class="product-image">

              <h3>{{ element.name }}</h3>
              <p>Precio: {{ element.price | currency:'USD' }}</p>
              <p>Estado: {{ element.status }}</p>
          </div>
          <div class="producto-opciones">
              <!-- Botón de Agregar al Carrito -->
              <button mat-button color="primary" (click)="agregarAlCarrito(element)">
                  <mat-icon>shopping_cart</mat-icon> Agregar al Carrito
              </button>
          </div>
      </div>
  </div>

  <!-- Apartado de orden de compra -->
  <div class="orden-compra">
      <h2>Orden de Compra</h2>
      <div *ngIf="carrito.length > 0; else noItems" class="items-carrito">
          <div *ngFor="let item of carrito; let i = index" class="item">
              <div class="item-info">
                  <h3>{{ item.name }}</h3>
                  <p>Precio: {{ item.price | currency:'USD' }}</p>
                  <p>Estado: {{ item.status }}</p>
              </div>
              <div class="item-opciones">
                  <!-- Botón de Eliminar del Carrito -->
                  <button mat-icon-button color="warn" (click)="eliminarDelCarrito(i)">
                      <mat-icon>delete</mat-icon>
                  </button>
              </div>
          </div>
          <div class="total">Total: {{ calcularTotal() | currency:'USD' }}</div>
          <div class="detalles">
              <p>Items en el carrito: {{ carrito.length }}</p>
              <p>Último producto agregado: {{ carrito[carrito.length - 1].name }}</p>
          </div>
          <button class="boton-pagar" (click)="pagar()">
              <mat-icon>payments</mat-icon>
              Comprar Ahora
          </button>
      </div>
      <ng-template #noItems>
          <p>No hay productos en el carrito.</p>
      </ng-template>
  </div>
</div>